  {% include "head.html" %}
  <div class="about-section-about-page">
    <div class="w-container">
      <div class="content-container">
        <h3 class="main-heading">About AusTick</h3>
        <p class="paragraph" style="font-weight: bold;">AusTick – helping researchers collect and analyse ticks to investigate tick-borne diseases in Australia.</p>
        <p class="paragraph">Ticks are a global threat to the health and well being of animals and humans. They are the second most important vector, after mosquitoes, of pathogens to humans and are the primary cause of vector-borne diseases in animals and wildlife.</p>
        <p class="paragraph">Australia is home to 70 tick species, including 65 native and 5 introduced ticks. However, very little is known about the ‘bugs’ (bacteria, viruses and/or protozoa) transmitted by Australian native ticks.</p>
        <p class="paragraph">Since 2013, the Vector &amp; Waterborne Pathogen Research Group (CrypTick Lab) has been using innovative and advanced genetic techniques to unlock the microbial diversity found within Australian ticks. This has led to the identification of new and putative disease-causing bacterial species.</p>
        <p class="paragraph">Accurate information relating to where and when a person was bitten by a tick (e.g. geographical location; date of tick bite) is often missing upon arrival of the tick specimen at the CrypTick Lab.</p>
        <p class="paragraph">Knowing precisely where a person was bitten and when they were bitten, is essential additional information to understanding the geographical location of tick species that bite humans, along with microorganisms transmitted by ticks in Australia.</p>
        <p class="paragraph" style="font-weight: bold;">How it Works</p>
        <p class="paragraph">The AusTick web-app has been created to allow people to report the geographical location of their tick bite in Australia. Each person who reports a current tick bite will receive a unique ‘tick identifier’ code. This unique ‘tick identifier’ code should be submitted to a medical professional (local GP or Emergency Department) when the tick is removed.</p>
        <p class="paragraph">It is encouraged that people, who have been bitten by ticks in Australia, have their tick(s) removed by medical professionals (local GP or hospital Emergency Department). Ticks will be sent to the CrypTick Lab for microbial diversity screening.</p>
        <p class="paragraph">The geographical data collected in this AusTick web-app will be combined with the microbial diversity data, which will provide valuable information about the precise geographical locations of where people are being bitten by Australian ticks. This is essential for determining the geographical areas of tick-borne disease risk (‘hotspots’), which is necessary for informing medical professionals and the general public about ticks and tick-borne disease.</p>

        <p class="paragraph" style="font-weight: bold;">Our Research</p>
        <img class="main-page-image" sizes="(max-width: 479px) 99vw, 256px" src="static/images/lab_group.png" srcset="static/images/lab_group-p-500x450.png 500w, static/images/lab_group.png 512w" width="256">
        <p class="paragraph">http://www.murdoch.edu.au/Research-capabilities/Vector-and-Waterborne-Pathogens-Group/</p>



      </div>
    </div>
  </div>
  {% include "foot.html" %}
