  {% include "head.html" %}
  <div class="hero-section">
    <div class="w-container">
      <div class="content-container">
        <h3 class="main-heading">AusTick Helping Researchers Collect and Analyse Tick Bites Data In Australia</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p><img class="main-page-image" sizes="(max-width: 479px) 99vw, 256px" src="images/bug.png" srcset="images/bug-p-500x450.png 500w, images/bug.png 512w" width="256">
      </div>
    </div>
  </div>
  <div class="how-it-works-section">
    <div class="w-container">
      <div class="content-container">
        <h3 class="main-heading">How it works?</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img class="main-page-image" src="images/smartphone.png" width="142">
      </div>
    </div>
  </div>
  {% include "foot.html" %}