  {% include "head.html" %}
  <div class="about-section-about-page">
    <div class="w-container">
      <div class="content-container">
        <h3 class="main-heading">TICK REMOVAL</h3>
        <h4 class="main-heading-sub">Tick life cycle</h4>
        <p class="paragraph">Australian ticks have a 4-stage life cycle: eggs, larvae, nymphs and adults (male &amp; female).</p>
        <img class="main-page-image" sizes="(max-width: 479px) 99vw, 256px" src="/static/images/tick_lifecycle.png" srcset="/static/images/tick_lifecycle-p-500x450.png 500w, /static/images/tick_lifecycle.png 512w" width="256">
        <p>
          IMAGE - <i>Tick life cycle</i>(S. Doggett, Department of Health).
        </p>
        <h4 class="main-heading-sub">Larvae (<1mm)</h4>
        <p class="paragraph">Larvae are the smallest life stage of ticks. The best method for removing this stage of tick is to use a topical cream or lotion: e.g. Permethrin based cream or lotion.</p>
        <h4 class="main-heading-sub">Nymphs &amp; Adults (>1mm)</h4>
        <p class="paragraph">Preferred option:</p>
        <p class="paragraph">It is encouraged that ticks are removed by medical professionals (local GP or hospital Emergency Department).</p>
        <h4 class="main-heading-sub"><a href="https://healthengine.com.au/">Look up your local doctor (external site)</a></h4>
      <h4 class="main-heading-sub">Mail To</h4>
      <p class="paragraph">Vector &amp; Water-Borne Pathogen Research Group <br/>
      Loading Zone 5 (Attention Dr Peter Irwin), <br/>
      School of Veterinary and Life Sciences, <br/>
      Murdoch University, 90 South Street, <br/>
      MURDOCH, Western Australia, 6150</p>
        <p class="paragraph">DIY:</p>
        <p class="paragraph">The most effective method for removing ticks is the ‘Freeze! Don’t squeeze!’ method. Purchase <i>Wart Off</i> or other freezing product (follow the directions) to freeze (&amp; kill) the tick. Leave for 10 minutes and remove with fine forceps (fine ended tweezers) or simply brush the tick off.</p>
        <p class="paragraph">NOTE: Using tweezers or sprays to remove the live tick may antagonise the tick or part of the tick may remain in your skin. Antagonising the tick can result in the tick expelling potential pathogens and allergens into your bloodstream.</p>
      <h4 class="main-heading-sub">Send the tick to us!</h4>
      <p class="paragraph">Once the tick(s) has been removed, place the tick in a ziplock bag and place in the freezer. We prefer if you contact cryptick.lab@gmail.com (+61 8 9360 2312) for an approved specimen (collection) tube. </p>

      <p class="paragraph">
        <i>Sending the ticks to Murdoch University.</i>
      </p>

      <p class="paragraph">
        Please ensure that the screw cap lid of each specimen tube is tightly fastened.
      </p>
      <p class="paragraph">
        The tubes must be packed carefully in order to comply with transport requirements:
      </p>
      <p class="paragraph">
        <ul class="paragraph">
          <li>Wrap the tubes in absorbent material (e.g. kitchen towel) and place them inside a small ziplock bag, and seal.</li>
          <li>Wrap the first ziplock bag with absorbent material (e.g. kitchen towel) and place it inside a second ziplock bag, and seal.</li>
          <li>Place the second ziplock bag into a sturdy envelope.</li>
        </ul>
      </p>
      <h4 class="main-heading-sub">Tick Bite Prevention</h4>
      <p class="paragraph">For best advice on tick bite prevention visit the Australian Government Department of Health website.</p>
      <p class="paragraph"><a href="http://www.health.gov.au/internet/main/publishing.nsf/Content/ohp-tick-bite-prevention.htm">http://www.health.gov.au/internet/main/publishing.nsf/Content/ohp-tick-bite-prevention.htm</a></p>
    </div>
  </div>
</div>
{% include "foot.html" %}